-# 投稿一覧ページでもいいねの数を見れるように
%h1 いいねサンプル
- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, :method => :delete
  = link_to "マイページへ", user_path(current_user.id)
  = link_to "ユーザー一覧へ", users_path
  %h2 投稿する
  = form_for @post do |f|
    = f.text_field :content
    = f.submit
  %hr/
  %h2 投稿一覧
  - @posts.each do |post|
    %li
      - if post.user.name?
        %a{:href => "/users/#{post.user.id}"}= post.user.name
      - else
        noname
      %a{:href => "/posts/#{post.id}"}= post.content
      (#{post.liked_users.count})
      = render "likes/likes", post: post
- else
  = link_to "ユーザー登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path
