%h1 投稿詳細ページ
投稿者：
- if @post.user.name?
  = @post.user.name
-else
  noname
%br
投稿内容：
= @post.content
%h3
  いいね件数: #{@post.likes.count}
= render "likes/likes", post: @post
%h2 いいねしたユーザー
- @post.liked_users.each do |user|
  - if user.name?
    %li= user.name
  - else
    %li noname
= link_to "ホームへ戻る", posts_path
